name: Run integration tests for Core
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      token:
        description: 'GitHub token if called from another workflow'
        required: false
        type: string

jobs:
  core-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Run Core integration tests
        uses: ./.github/actions/run-core-integration-tests

  allure-report:
    needs: core-tests
    runs-on: ubuntu-latest
    if: always() && github.repository == 'firebolt-db/firebolt-node-sdk'
    steps:
      # Need to pull the pages branch in order to fetch the previous runs
      # Only run Allure reporting on the main repository, not forks
      - name: Get Allure history
        uses: actions/checkout@v6
        continue-on-error: true
        with:
            ref: gh-pages
            path: gh-pages

      - name: Allure Report
        uses: firebolt-db/action-allure-report@v1
        with:
            github-key: ${{ inputs.token || secrets.GITHUB_TOKEN }}
            test-type: integration-core
            allure-dir: allure-results
            pages-branch: gh-pages
            repository-name: firebolt-node-sdk

