name: Run integration tests for 1.0
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      FIREBOLT_STG_USERNAME:
        required: true
      FIREBOLT_STG_PASSWORD:
        required: true
      SERVICE_ID_STG:
        required: true
      SERVICE_SECRET_STG:
        required: true
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Setup database and engine
        id: setup
        uses: firebolt-db/integration-testing-setup@v1
        with:
          firebolt-username: ${{ secrets.FIREBOLT_STG_USERNAME }}
          firebolt-password: ${{ secrets.FIREBOLT_STG_PASSWORD }}
          api-endpoint: "api.staging.firebolt.io"
          region: "us-east-1"

      - name: Run integration tests
        env:
          FIREBOLT_USERNAME: ${{ secrets.FIREBOLT_STG_USERNAME }}
          FIREBOLT_PASSWORD: ${{ secrets.FIREBOLT_STG_PASSWORD }}
          FIREBOLT_DATABASE: ${{ steps.setup.outputs.database_name }}
          FIREBOLT_ENGINE_NAME: ${{ steps.setup.outputs.engine_name }}
          FIREBOLT_ENGINE_ENDPOINT: ${{ steps.setup.outputs.engine_url }}
          FIREBOLT_API_ENDPOINT: "api.staging.firebolt.io"
          FIREBOLT_CLIENT_ID: ${{ secrets.SERVICE_ID_STG }}
          FIREBOLT_CLIENT_SECRET: ${{ secrets.SERVICE_SECRET_STG }}
        run: |
          npm run test:ci integration/v1