name: Run integration tests for 2.0
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      FIREBOLT_CLIENT_ID_STG_NEW_IDN:
        required: true
      FIREBOLT_CLIENT_SECRET_STG_NEW_IDN:
        required: true
    inputs:
      engine-version:
        description: 'Engine version to use for integration tests'
        required: false
        type: string
        default: ''
      token:
        description: 'GitHub token if called from another workflow'
        required: false
        type: string

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          repository: 'firebolt-db/firebolt-node-sdk'

      - name: Set up node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Setup database and engine
        id: setup
        uses: firebolt-db/integration-testing-setup@v2
        with:
          firebolt-client-id: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
          firebolt-client-secret: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}
          account: ${{ vars.FIREBOLT_ACCOUNT }}
          api-endpoint: "api.staging.firebolt.io"
          engine-version: ${{ inputs.engine-version }}

      - name: Run integration tests
        env:
          FIREBOLT_ACCOUNT: ${{ vars.FIREBOLT_ACCOUNT }}
          FIREBOLT_DATABASE: ${{ steps.setup.outputs.database_name }}
          FIREBOLT_ENGINE_NAME: ${{ steps.setup.outputs.engine_name }}
          FIREBOLT_API_ENDPOINT: "api.staging.firebolt.io"
          FIREBOLT_CLIENT_ID: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
          FIREBOLT_CLIENT_SECRET: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}
        run: |
          npm run test:ci integration/v2

      # Need to pull the pages branch in order to fetch the previous runs
      # Only run Allure reporting on the main repository, not forks
      - name: Get Allure history
        uses: actions/checkout@v6
        if: always() && github.repository == 'firebolt-db/firebolt-node-sdk'
        continue-on-error: true
        with:
            ref: gh-pages
            path: gh-pages

      - name: Allure Report
        uses: firebolt-db/action-allure-report@v1
        if: always() && github.repository == 'firebolt-db/firebolt-node-sdk'
        with:
            github-key: ${{ inputs.token || secrets.GITHUB_TOKEN }}
            test-type: integration
            allure-dir: allure-results
            pages-branch: gh-pages
            repository-name: firebolt-node-sdk
