name: PR checks

on:
  push:
    branches: [ main, 0.x ]
  pull_request:
    branches: [ main, 0.x ]

jobs:
  code-checks:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4
    
    - name: Set up node.js
      uses: actions/setup-node@v6
      with:
        node-version: '16'
    
    - name: Install dependencies
      run: npm install

    - name: Type check with typescript
      run: |
        npm run type-check

    - name: Test with jest
      run: |
        npm test -- --coverage test/unit
        
    - name: "Security Scan"
      uses: SonarSource/sonarqube-scan-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
