name: Release new version

on:
  workflow_dispatch:
    inputs:
      majorRelease:
        required: false
        description: 'Release as version. Example values are: minor, major, 5.6.1, 1.0.0. Leave empty for regular release.'

jobs:
  # integration-tests:
  #   uses: firebolt-db/firebolt-node-sdk/.github/workflows/integration-tests.yaml@main

  publish:
    runs-on: ubuntu-latest
    # needs: integration-tests
    steps:    
    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 
        # token: ${{ secrets.RELEASE_PAT }}
    
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    
    - name: Install dependencies
      run: |
        npm install 

    - name: Setup git config
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        
    - name: Build
      run: |
        npm run build

    - name: Release
      run: |
        ${{github.event.inputs.majorRelease != '' && format('npm run release -- --release-as {1}', github.event.inputs.majorRelease) || 'npm run release'}}

    - name: Publish to npm
      run: |
        echo _auth=${{ secrets.NPM_PUBLSH_KEY }} >> .npmrc
        echo email=${{ secrets.NPM_EMAIL }} >> .npmrc
        echo always-auth=true >> .npmrc
        npm publish

    - name: Push git tags
      run: |
        git push --follow-tags origin main
